
html body .footer-form .gform_wrapper form ul.gform_fields li.gfield input,
html body .footer-form .gform_wrapper form ul.gform_fields li.gfield{
    margin-bottom: 0px !important
}
html body .footer-form .gform_wrapper form ul.gform_fields li.gfield input{
    background-image: url('../img/email-icon.png');
    background-repeat: no-repeat;
    background-position: 20px;
}
html body .footer-form .gform_wrapper form ul.gform_fields li.gfield input.hasValue,
html body .footer-form .gform_wrapper form ul.gform_fields li.gfield input:focus{
    background-image: none;
}
html body .footer-form .gform_wrapper form{
    display: flex;
}
html body .footer-form .gform_wrapper form .gform_body{
    max-width: calc(100% - 170px);
    width: 100%;
}
html body .footer-form  .gform_wrapper form .gform_footer{
    padding: 0 0 0 20px;
    max-width: 170px
}

html body .footer-form  .gform_wrapper form .gform_footer input[type="submit"]{
    max-width: 170px
}
.footer-icon-box-wrapper .elementor-widget-wrap{
    width: calc(100% + 20px);
    margin: 0 -10px -20px !important;
}
.footer-icon-box-wrapper .elementor-widget-wrap .footer-icon-box{
    width: calc(33.33% - 20px);
    margin: 0 10px 20px !important;
}
.footer-copyright{
    background-color: #15152C;
    position: relative;
}
.footer-copyright .elementor-container{
    z-index: 2
}
.footer-social-icons .elementor-widget-container .elementor-social-icons-wrapper .elementor-grid-item a .fab{
    transition: 0.3s all !important
}
.footer-copyright::after{
    content: '';
    width: 1000%;
    background-color: inherit;
    top: 0;
    left: 50%;
    position: absolute;
    height: 100%;
    z-index: 1;
    transform: translatex(-50%)
}
footer .footer-main-wrapper{
    overflow-x: clip;
}
html body footer .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{
    position: absolute;
}
@media screen and (min-width: 768px ) {
    .footer-contact .elementor-widget-container .elementor-icon-box-content{
        display: flex;
        align-content: center;
    }
    .footer-contact .elementor-widget-container .elementor-icon-box-content .elementor-icon-box-title{
        margin-top: 0;
        max-width: 125px;
    } 
}

@media screen and (max-width: 1024px ) {
    .footer-contact .elementor-widget-container .elementor-icon-box-content .elementor-icon-box-title{
        max-width: 100px;
    } 
    html body .footer-form .gform_wrapper form .gform_body{
        max-width:100%;
        position: relative;
    } 
    html body .footer-form .gform_wrapper form .gform_footer,
    html body .footer-form .gform_wrapper form .gform_footer input[type="submit"]{
        font-size: 0 !important;
        max-width: 70px;
        height: 41px;
        position: absolute;
        right: -1px;
        top: 9px;
    }
    html body .footer-form .gform_wrapper form .gform_footer input[type="submit"]{
        background-image: url('../img/white-arrow.svg');
        background-repeat: no-repeat;
        background-position: 52% center;
    }
    html body .footer-form .gform_wrapper form .gform_footer input[type="submit"]:hover{
        background-image: url('../img/black-arrow.svg');
        background-position: center;
    }
}
@media screen and (max-width: 767px ) {
    .footer-contact .elementor-widget-container .elementor-icon-box-icon{
        margin-top: 7px; 
    }
    .footer-contact .elementor-widget-container .elementor-icon-box-content .elementor-icon-box-title{
        max-width: 100%;
    }  
}
@media screen and (max-width: 580px ) {

    html body .footer-form .gform_wrapper form{
        flex-direction: column;
    }
    .footer-icon-box-wrapper .elementor-widget-wrap{
        width: 100%;
        margin: 0 0 -20px !important;
    }
    .footer-icon-box-wrapper .elementor-widget-wrap .footer-icon-box{
        width: 100%;
        margin: 0 0 20px !important;
    }

}